<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/Content/app.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/Asset/images/logo.PNG">

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="/script/app.js" defer></script>


  </head>
  
  <body class="d-flex flex-column min-vh-100">
