<%- include('./partials/header') %>
<%- include('./partials/main_nav') %>

<div class="container mt-4">

  <h1 class="mb-3">Schedule</h1>

  <div class="mb-4">
    <label for="daySelect" class="form-label">Select a Day</label>
    <select class="form-select" id="daySelect">
      <option selected disabled>Choose a day...</option>
      <option>Monday</option>
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>
      <option>Friday</option>
      <option>Saturday</option>
      <option>Sunday</option>
    </select>
  </div>

  

 

<%- include('./partials/footer') %>
